.scroll {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  .scrollBody{
    border: 1px solid black;
    height: 300px;
    width: 300px;
    overflow: auto;
    position: relative;
    .scrollBox{
      width: 100%;
      height: 650px;
      background: linear-gradient(white,black);
    }
  }
}